@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --_mesh-gradient-blur: 0px;
  --_mesh-gradient-blend-mode: screen;

  --link-color: #f80;
  --link-underline-padding: .5em;

  --sb-track-color: #18181800;
  --sb-thumb-color: #959896a5;
  --sb-size: 5px;
}

body {
  background-color: #181818;
  /* background-color: #121212; */
  color: #efefef;
}

@layer components {
  /* for links */
  .underline_text {
    background: linear-gradient(currentColor 0 0) bottom left/ var(--underline-width, 0%) 0.1em no-repeat;
    display: inline-block;
    transition: background-size 0.3s;
  }

  .underline_text:hover {
    --underline-width: 100%;
  }

  /* for textbox */
  .underline_textbox {
    background: linear-gradient(currentColor 0 0) bottom center/ var(--underline-width, 0%) 0.1em no-repeat, linear-gradient(gray 0 0) bottom center/ var(--underline-width, 100%) 0.1em no-repeat;
    display: inline-block;
    transition: background-size 0.3s;
  }
  
  .underline_textbox:focus {
    /* border: 0;   */
    --underline-width: 100%;
  }

  .highlight {
    background: linear-gradient(120deg, #2e3019 0%, #6e7426 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
  }

  .gradient {
    background:
      radial-gradient(at 5% 10%, #1b2c1d 0px, transparent 50%),
      /* New gradient */
      radial-gradient(at 90% 63%, #032c2b 0px, transparent 50%),
      radial-gradient(at 21% 93%, #032c17 0px, transparent 50%),
      radial-gradient(at 87% 19%, #03182c 0px, transparent 50%),
      radial-gradient(at 68% 61%, #2c0318 0px, transparent 50%),
      radial-gradient(at 87% 55%, #2c1703 0px, transparent 50%) #000000;
    mix-blend-mode: var(--_mesh-gradient-blend-mode);
    filter: blur(var(--_mesh-gradient-blur));
    background-size: cover;
  }

  .scaleContainer:hover .scaleUp {
    transform: scale(3);
  }
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;

}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}